.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box {
  font-size: 25px;
  /* border: 1px solid gray; */
}

.card-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card {
  display: flex;
  flex-direction: column;
  margin-left: calc( (100% - (20% * 4)) / 4);  
  width: 250px;
  height: 350px;
}
.card-image {
  height: 70%;
}

.loader-wrapper {
  position: Fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  font-size: 3rem;
}

.initial-result, .no-result {
  text-align: center;
}