* {
  box-sizing: border-box;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-box {
  font-size: 25px;
}

.card-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card {
  display: flex;
  flex-direction: column;
  margin-left: calc( (100% - (20% * 4)) / 4);  
  width: 250px;
  height: 350px;
}
.card-image {
  height: 70%;
}

.loader-wrapper {
  position: Fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  font-size: 3rem;
}

.initial-result, .no-result {
  text-align: center;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.5);
  border: 6px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 4px solid green;
}

.modal-contents {
  position: relative;
  border: 5px solid blue;
  background-color: #fff;
  height: 70%;
  width: 500px;
  padding: 30px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.modal-close-btn {
  cursor: pointer;
  font-weight: bold;
}

.modal-image {
  max-width: 100%;
  height: 400px;
}

@media (max-width: 650px) {
  .modal-contents {
    width: 100%;
    height: 100%;
  }
  .modal-image {
    width: 70%;
  }
}

.search-history {
  display: flex;
  padding: 0 5px;
  flex-wrap : wrap;
  margin-top: 5px;
}
.keyword-wrapper {
  color: white;
  background-color: royalblue;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  display: flex;
}
.keyword:last-child {
  margin-right: 0px;
}
.delete-history-btn {
  margin-left: 10px;
  border-radius: 50%;
  padding: 0px 4px;
  color: royalblue;
  background-color: #fff;
  text-align: center;
}

.random-btn {
  font-size: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}